<h1><%=@landmark.name%></h1>
<h2>Year Completed: <%= @landmark.year_completed %></h2>
<p><a href="/landmarks/<%=@landmark.id%>/edit">Edit this Landmark</a></p>
<p><a href="/landmarks">Back to all Landmarks</a></p>
